<div class="user-list__user-name">
    {{user.id}} - {{fullName}}
</div>
<div class={{if user.online "user-list__user-status--online" "user-list__user-status--offline"}}>
    {{online-status user.online}}
</div>