@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: $color-grey-light-1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    color: $color-text;
}

.navigation {
    height: 6rem;
    font-size: 1.8rem;
    box-shadow: $box-shadow-3;
    background-color: $color-blue-2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__link {
        color: $color-grey-light-4;
        height: 70%;
        padding: 2rem;
        display: flex;
        align-items: center;
        text-decoration: none;

        &.active {
            color: $color-white;
            background-color: rgba($color-blue-1, 0.3);
            border-radius: 5px;
        }
    }

    &__total-users {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
        color: $color-blue-2;
        background-color: $color-white;
        border: 2px solid $color-blue-1;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        box-shadow: $box-shadow-3;
        font-weight: 500;
    }
}

.footer {
    height: 4rem;
    box-shadow: $box-shadow-3;
    background-color: $color-blue-2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 1.6rem;
}

.outlet {
    min-height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;
    position: relative;
}

.home {
    &__logo {
        margin-top: 8rem;
        margin-bottom: 1rem;
    }

    &__info {
        font-weight: 500;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;

        &__notice {
            color: $color-red;
            padding-right: 0.5rem;
        }
    }
}

.about {
    display: flex;
    justify-content: center;

    &__container {
        margin-top: 8rem;
        font-size: 2rem;
    }
}

.user-list {
    list-style-type: none;
    font-size: 1.6rem;
    width: 50rem;
    margin-top: 11rem;
    box-shadow: $box-shadow-3;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 3rem;

    & > * {
        cursor: pointer;
    }

    &__content,
    &__header {
        width: 95%;
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid rgba($color-text, 0.3);

        &--last {
            border-bottom: none;
        }
    }

    &__user-name {
        margin-left: 2rem;
        flex: 1;
    }

    &__user-status {
        &--online {
            @include onlineOffline;
            background-color: $color-green;
        }

        &--offline {
            @include onlineOffline;
            background-color: $color-red;
        }

        &--header {
            color: $color-text;
            flex: 0 1 25%;
            display: flex;
            justify-content: center;
        }
    }

    &__header {
        font-weight: 500;
    }
}

.filter-sort {
    top: 4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    height: 4.5rem;
    display: flex;
    align-items: center;

    &__search {
        flex: 1;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        font-size: 1.6rem;
        box-shadow: $box-shadow-3;
        outline: none;
        color: $color-text;
        margin-right: 1rem;
    }

    &__sort-by {
        margin-left: auto;
        flex: 0 1 20rem;
        height: 3.84rem;
        border-radius: 5px;
        background-color: $color-white;
        cursor: pointer;
        position: relative;

        &__label {
            margin-top: 0.5rem;
            display: block;
            margin-left: 2rem;
            font-size: 1rem;
        }

        &__input {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: none;
            margin: auto;
            background-color: transparent;
            box-shadow: $box-shadow-3;
            font-size: 1.4rem;
            outline: none;
            cursor: pointer;
            padding: 1rem 1.8rem 0;

            &:focus {
                border-radius: 5px 5px 0 0;
                border: 1px solid rgba($color-text, 0.3);
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2rem;
            font-size: 2rem;
        }
    }

    &__list {
        list-style-type: none;
        font-size: 1.4rem;
        width: 100%;
        position: absolute;
        top: 4rem;
        background-color: $color-white;
        box-shadow: $box-shadow-3;
        border: 1px solid rgba($color-text, 0.3);
        border-radius: 0 0 5px 5px;
        display: none;

        &__option {
            padding: 1rem;

            &:hover {
                background-color: rgba($color-grey-light-1, 0.8);
            }
        }

        &__link {
            text-decoration: none;
            color: $color-text;
        }

        &--active {
            display: block;
        }
    }
}

.user-info {
    height: fit-content;
    font-size: 1.6rem;
    list-style-type: none;
    padding: 2rem;
    margin-top: 5rem;
    box-shadow: $box-shadow-2;
    min-width: 40rem;
    border-radius: 5px;

    &__li {
        padding: 1rem;
    }

    &__actions {
        margin-top: 2rem;
        padding: 2rem 1rem 1rem;
        border-top: 1px solid rgba($color-text, 0.3);
        display: flex;
        align-items: center;
    }

    &__back {
        margin-right: auto;
        @include button($color-blue-2);
    }

    &__edit {
        @include button($color-green);
    }

    &__delete {
        margin-left: 1rem;
        @include button($color-red);
    }
}

.modal {
    position: fixed;
    left: 0;
    top: -100%;

    &--active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background-color: rgba($color-grey-dark-2, 0.4);
    }

    &__container {
        transform: translateY(-100%);
        padding: 2rem;
        box-shadow: $box-shadow-2;
        height: fit-content;
        background-color: $color-grey-light-1;
        max-width: 35rem;
        font-size: 1.6rem;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;

        &--active {
            transform: translateY(80%);
        }
    }

    &__actions {
        margin-top: 1rem;
        border-top: 1px solid rgba($color-text, 0.3);
        padding-top: 1rem;
        display: flex;
        align-items: center;
    }

    &__text {
        padding-bottom: 1.6rem;
    }

    &__btn-cancel {
        @include button($color-blue-2);
        margin-left: auto;
    }

    &__btn-delete {
        @include button($color-red);
        margin-left: 1rem;
    }
}

.message {
    width: 42rem;
    box-shadow: $box-shadow-2;
    height: fit-content;
    border-radius: 5px;
    font-size: 1.6rem;
    margin-top: 12rem;
    overflow: hidden;

    &__text {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 2rem;
        color: $color-white;
        background-color: $color-blue-2;
        margin-right: 1rem;
        flex: 0 1 5rem;
        padding: 1.5rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 65%;
            height: 60%;
            border: 1.5px solid $color-white;
            border-radius: 50%;
        }
    }
}

.user-edit {
    height: fit-content;
    width: 40rem;
    box-shadow: $box-shadow-3;
    border-radius: 5px;
    padding: 2rem 3rem;
    margin-top: 4rem;
    font-size: 1.6rem;

    &__title {
        margin-bottom: 2rem;
    }

    &__formControl {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        position: relative;

        &__label {
            font-size: 1.4rem;
            margin-bottom: 0.4rem;
            margin-left: 1rem;
            transition: all 0.1s ease-in-out;

            &--show {
                color: $color-red;
            }
        }

        &__input {
            padding: 0.7rem 1.5rem;
            border-radius: 4px;
            border: 1px solid rgba($color-text, 0.2);
            outline: none;
            transition: all 0.1s ease-in-out;

            &--show {
                border: 1px solid rgba($color-red, 0.5);
            }
        }

        &__error {
            position: absolute;
            bottom: -1.7rem;
            font-size: 1.2rem;
            color: $color-red;
            margin-left: 1rem;
            opacity: 0;
            transition: all 0.1s ease-in-out;

            &--show {
                background-color: $color-grey-light-1;
                opacity: 1;
            }

            &--hide {
                opacity: 0;
            }
        }

        &--radio {
            margin-left: 1rem;

            label {
                margin-right: 0.5rem;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__go-back-btn {
        @include button($color-blue-2);
        margin-left: auto;
    }

    &__add-btn,
    &__update-btn {
        @include button($color-blue-2);
        margin-left: 0.7rem;

        &:disabled {
            border: 1px solid rgba($color-grey-dark-3, 0.5);
            color: $color-grey-dark-2;
            background: rgba($color-grey-dark-3, 0.2);
        }
    }

    &__add-btn {
        margin-left: auto;
    }

    &__info {
        font-size: 1.3rem;

        &__required {
            color: $color-red;
        }
    }
}

.not-found {
    position: absolute;
    top: 35%;
    font-size: 1.6rem;
    width: 35rem;
    height: fit-content;
    transform: translateY(-50%);

    &__title {
        margin-bottom: 3rem;
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__btn {
        display: inline-block;
        text-decoration: none;
        @include button($color-blue-2);
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: -6rem;
    }
}
