{{form-control data=title inputName="title" inputType="text" touched=false}}
{{form-control data=body inputName="message" inputType="textarea" touched=false}}
<div class="add-post__actions">
    {{yield this}}
</div>
