<div class="home">
    <img class="home__logo" src="assets/images/ember-logo.png" alt="logo">
    <p class="home__info">
        <span class="home__info__notice">*</span> Application made with Ember
    </p>
</div>